@page "/containers"

<PageTitle>Home</PageTitle>


<div class="grid grid-cols-3 gap-6 p-6">

    <div class="rounded-2xl border border-white/10 bg-white/10 p-4 shadow-lg backdrop-blur-md">
        <h3 class="text-lg font-semibold text-white">postgres_db</h3>
        <p class="text-sm text-gray-300">Running • 45% CPU • 320MB</p>
    </div>
    <div class="rounded-2xl border border-white/10 bg-white/10 p-4 shadow-lg backdrop-blur-md">
        <h3 class="text-lg font-semibold text-white">postgres_db</h3>
        <p class="text-sm text-gray-300">Running • 45% CPU • 320MB</p>
    </div>
    <div class="rounded-2xl border border-white/10 bg-white/10 p-4 shadow-lg backdrop-blur-md">
        <h3 class="text-lg font-semibold text-white">postgres_db</h3>
        <p class="text-sm text-gray-300">Running • 45% CPU • 320MB</p>
    </div>
    <div class="rounded-2xl border border-white/10 bg-white/10 p-4 shadow-lg backdrop-blur-md">
        <h3 class="text-lg font-semibold text-white">postgres_db</h3>
        <p class="text-sm text-gray-300">Running • 45% CPU • 320MB</p>
    </div>

</div>

<style>
    nav {
        padding-block: 1rem;

        ul > li {
            display: inline-block;
            /* You can also add some margins here to make it look prettier */
        }
    }
</style>