@inherits LayoutComponentBase

<div class="page">
    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@
        <header>

            <nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8">
                <div class="flex lg:flex-1">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Nautical</span>
                        <div class="flex gap-2">
                            <img src="./Images/Achor.png" alt="" class="h-8 w-auto" />
                            <h1 class="text-xl font-bold">Nautic</h1>
                        </div>
                    </a>
                </div>
                <div class="flex lg:hidden">
                    <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200">
                        <span class="sr-only">Open main menu</span>
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="hidden lg:flex lg:gap-x-12">
                    <NavLink Match="NavLinkMatch.All" href="/" class="text-sm/6 font-semibold text-white" ActiveClass="underline underline-offset-8 decoration-pink-500 decoration-2">Overview</NavLink>
                    <NavLink Match="NavLinkMatch.All" href="/containers" class="text-sm/6 font-semibold text-white" ActiveClass="underline underline-offset-8 decoration-pink-500 decoration-2">Containers</NavLink>
                    <NavLink Match="NavLinkMatch.All" href="/images" class="text-sm/6 font-semibold text-white" ActiveClass="underline underline-offset-8 decoration-pink-500 decoration-2">Images</NavLink>
                    <NavLink Match="NavLinkMatch.All" href="/settings" class="text-sm/6 font-semibold text-white" ActiveClass="underline underline-offset-8 decoration-pink-500 decoration-2">Settings</NavLink>
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    <a href="#" class="text-sm/6 font-semibold text-white">Log in <span aria-hidden="true">&rarr;</span></a>
                </div>
            </nav>

            <el-dialog>
                <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
                    <div tabindex="0" class="fixed inset-0 focus:outline-none">
                        <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-100/10">
                            <div class="flex items-center justify-between">
                                <a href="#" class="-m-1.5 p-1.5">
                                    <span class="sr-only">Nautical</span>
                                    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="" class="h-8 w-auto" />
                                </a>
                                <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-200">
                                    <span class="sr-only">Close menu</span>
                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                                        <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>
                            <div class="mt-6 flow-root">
                                <div class="-my-6 divide-y divide-white/10">
                                    <div class="space-y-2 py-6">
                                        <NavLink Match="NavLinkMatch.All" href="/" class="text-base/7 -mx-3 block rounded-lg px-3 py-2 font-semibold text-white hover:bg-white/5" ActiveClass="bg-white/8">Overview</NavLink>
                                        <NavLink Match="NavLinkMatch.All" href="/containers" class="text-base/7 -mx-3 block rounded-lg px-3 py-2 font-semibold text-white hover:bg-white/5" ActiveClass="bg-white/8">Containers</NavLink>
                                        <NavLink Match="NavLinkMatch.All" href="/images" class="text-base/7 -mx-3 block rounded-lg px-3 py-2 font-semibold text-white hover:bg-white/5" ActiveClass="bg-white/8">Images</NavLink>
                                        <NavLink Match="NavLinkMatch.All" href="/settings" class="text-base/7 -mx-3 block rounded-lg px-3 py-2 font-semibold text-white hover:bg-white/5" ActiveClass="bg-white/8">Settings</NavLink>
                                    </div>
                                    <div class="py-6">
                                        <a href="#" class="text-base/7 -mx-3 block rounded-lg px-3 py-2.5 font-semibold text-white hover:bg-white/5">Log in</a>
                                    </div>
                                </div>
                            </div>
                        </el-dialog-panel>
                    </div>
                </dialog>
            </el-dialog>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>